body {
    background: #232A3E;
    font-family: sans-serif;
    font-size: 12px;
}

.main {
    width: 95%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    float: left;

    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.22);
    background-color: #2D344E;
}

input {
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    margin: 0;
    float: left;
    border: none;
}

input:not([type]),
input[type="text"] {
    width: 60%;

    border-radius: 4px 0 0 4px;
}


input[type="submit"] {
    width: 40%;

    text-transform: uppercase;
    font-weight: bold;

    border-radius: 0 4px 4px 0;
    background: rgb(204, 69, 102);
    color: white;
}

.wrapper {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    height: 2.5em;
    overflow-y: hidden;

    line-height: 2.5em;
}

img {
    max-width: 2.5em;
    max-height: 2.5em;
    margin-left: 0.3em;
    vertical-align: middle;
}

@media screen and (min-width: 320px) {
  body {
      font-size: 16px;
  }
}

@media screen and (min-width: 620px) {
  body {
      font-size: 24px;
  }

  .main {
    width: 80%;
  }

  input:not([type]),
  input[type="text"] {
      width: 80%;
  }

  input[type="submit"] {
      width: 20%;
  }
}
